.home-screen-logo {
  animation: home-screen-logo infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

@keyframes home-screen-logo {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
